@font-face {
    font-family: 'MaisonNeue-Bold';
    src: url('./fonts/MaisonNeue-Bold.ttf');
  }
  @font-face {
    font-family: 'MaisonNeue-Book';
    src: url('./fonts/MaisonNeue-Book.ttf');
  }
  @font-face {
    font-family: 'MaisonNeue-Medium';
    src: url('./fonts/MaisonNeue-Medium.ttf');
  }
  @font-face {
    font-family: 'SharpGrotesk-Book20';
    src: url('./fonts/SharpGrotesk-Book20.otf');
  }
  @font-face {
    font-family: 'SharpGrotesk-Medium15';
    src: url('./fonts/SharpGrotesk-Medium15.otf');
  }
  @font-face {
    font-family: 'SharpGrotesk-Medium20';
    src: url('./fonts/SharpGrotesk-Medium20.otf');
  }  

body { margin:0; padding:0; min-height: 540px; }
#map { position:absolute; top:0; bottom:0; width:100%; }
.mapboxgl-popup-content {
    max-width: 350px;
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 0;
    padding: 24px;
    padding-top: 34px;
    border: none;
}
.mapboxgl-popup-close-button, .mapboxgl-popup-close-button.close {
    padding-top: 8px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    opacity: 1;
    text-shadow: none;
    color: #b2b5b7;
    float: none;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: transparent;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
}
.mapboxgl-popup-close-button:hover, .mapboxgl-popup-close-button.close:hover {
    color: #e24000;
}
.mapboxgl-popup-close-button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin: auto;
    border: 2px solid #eef2f5;
}
.mapboxgl-popup-close-button:hover {
    background-color: transparent;
}
.mapboxgl-popup-content p {
    font-family: 'SharpGrotesk-Medium20';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.015;
    margin-bottom: 16px;
    line-height: 1.5;
}
.mapboxgl-popup-content a {
    font-family: 'MaisonNeue-Book';
    font-size: 15px;
    color: #0078D4;
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 6px;
}
.mapboxgl-popup-content p {
    /* font-weight: bold; */
}
.mapboxgl-popup-content p:last-child {
    margin-bottom: 16px;
}
/* Filtering panel and controls */
.filters-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 3000;
    width: 100%;
    box-shadow: 0 3px 6px 0 hsla(0,0%,57%,.23);
    height: 74px;
    background-color: #fff;
}
.filters-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;
    height: 60px;
    max-width: 630px;
}
.start-controls, .end-controls {
    display: flex;
}
.start-controls > label > *, .end-controls > label > * {
    color: #4797DD;
    cursor: pointer;
}
.start-controls > label, .end-controls > label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 0;
}
.start-controls i, .end-controls i {
    position: absolute;
    padding-top: 3px;
}

.filters-title,
.text-to,
#filters_button,
#filter_bydate,
#start_month_select,
#start_year_select,
#end_month_select,
#end_year_select {
    font-family: Akkurat-Bold,sans-serif;
    font-size: 16px;
    letter-spacing: .93333333px;
    font-weight: 600;
    z-index: 1000;
    padding: 10px;
    background-color: transparent;
    height: 40px;
    box-shadow: none;
    position: relative;
    border: none;
    border-radius: 0;
    text-align: left;
}
#start_month_select,
#start_year_select,
#end_month_select,
#end_year_select {
    padding-right: 20px;
}

select.select-invalid {
    border: 1px solid #FF003E !important;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   /* remove default arrow */
   /*background-image: url(...); */  /* add custom arrow */
}
.go-button {
    padding-left: 10px;
}
#filter_bydate {
    font-weight: 400;
}
#filter_bydate {
    box-shadow: 0 3px 6px 0 hsla(0,0%,57%,.23);
    border: 1px solid #efefef;
    padding: 10px 24px;
    color: #fff;
    background-color: #FF003E;
    min-width: 50px;*/
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}
#filter_bydate:hover {
    opacity: 0.9;
}
@media (max-width: 991px) {
    #filters-parent {
        display: none;
    }
}
